h1
{
	font-family:monospace, Sans-Serif, Consolas;
	padding: 0px;
	color: #808080;
	margin:0px;
}

h2
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 16px 0px;
}

h3
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 8px 0px;
}
h4
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 4px 0px;
}
h5
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 2px 0px;
}
h6
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 2px 0px;
}

ul
{
	padding: 0px 0px 0px 16px;
}
li
{
	margin:8px;
}

img
{
	 max-width: 100%;
}

div.content
{
	background-color: #F4F4F4;
	margin: 0px;
	padding: 16px;
	max-width: 768px;
	text-align: left;
	align-items: left;
	justify-content: left;
}

.box
{
	background-color: #C0E090;
	border-radius : 16px;
	margin: 16px 2px;
	padding: 8px 16px;
}

.bluebox
{
	background-color: #80CFFF;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.tealbox
{
	background-color: #40E0C0;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.greenbox
{
	background-color: #A0FFA0;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.yellowbox
{
	background-color: #FFEF99;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.orangebox
{
	background-color: #F0B040;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.redbox
{
	background-color: #FF9999;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}


.graybox
{
	background-color: #E0E0E0;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

#header
{
	text-align: center;
}
#footer
{
	text-align: center;
}

.navibox
{
	background-color: #F0F0F0;
	border-radius : 4px;
	padding: 4px;
	margin: 4px;
	display: inline-block;
}


.autofit
{
	display: inline-block;
}


.tab
{
	margin-left: 8px;	
}

.formbox
{
	width:auto;
	display: inline-block;
	background-color: #80EFFF;
	border-radius : 16px;
	padding: 16px;
	margin: 2px;
}
.forminput
{
	max-width:60%;
	min-width: 50px;
	display: inline-block;
}

.stoveimg
{
	max-width:20%;
	min-width: 128px;
	display: inline-block;
}

@media only screen and (max-width: 640px)
{
	div.content
	{
		padding: 8px;
		max-width: 100%;
	}
	.stoveimg
	{
		max-width: 100%;
		min-width: 128px;
		display: inline-block;
	}
}