h1
{
	font-family:monospace, Sans-Serif, Consolas;
	padding: 0px;
	color: #808080;
	margin:0px;
	user-select: none;
}

h2
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 16px 0px;
}

h3
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 8px 0px;
}
h4
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 4px 0px;
}
h5
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 2px 0px;
}
h6
{
	font-family:monospace, Sans-Serif, Consolas;
	margin: 2px 0px;
}
ul
{
	padding: 0px 0px 0px 16px;
}
li
{
	margin:8px;
}

.no-select {
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE10+ */
}

.image-wrapper 
{
	position: relative;
	display: inline-block;
}
.image-wrapper img 
{
	top: 0;
	left: 0;
}

img.pointerhand
{
	position: absolute;
	height:32px;
	transform: translateY(0px);
	animation: pointerhandFloatLoop 0.5s cubic-bezier(0.2, -0.55, 0, 1.55) infinite;
}

@keyframes pointerhandFloatLoop {
	0%   { transform: translateY(-1px); }
	50%  { transform: translateY(1px); }
	100% { transform: translateY(-1px); }
}

img
{
	 max-width: 100%;
}

img.loading
{
	padding: 10%;
	display: block;
	margin-bottom: -20%;
}

.lazy-img {
  filter: blur(10px);
  transition: filter 0.1s ease;
}
.lazy-img.loaded {
  filter: blur(0);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}


div.content
{
	background-color: #F4F4F4;
	margin: 0px;
	padding: 16px;
	max-width: 768px;
	text-align: left;
	align-items: left;
	justify-content: left;
}

.rating
{
	display: inline-block;
	white-space: nowrap;
}

star_e
{
	display: inline-block;
	width: 1em;       /* 寬度等於一個字的寬度 */
	height: 1em;      /* 高度等於字體大小 */
	vertical-align: middle; /* 或 text-bottom，看排版需要 */
	background-image: url('images/star_e.svg'); /* 換成你要的圖 */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-1px);
}
star_f
{
	display: inline-block;
	width: 1em;       /* 寬度等於一個字的寬度 */
	height: 1em;      /* 高度等於字體大小 */
	vertical-align: middle; /* 或 text-bottom，看排版需要 */
	background-image: url('images/star_f.svg'); /* 換成你要的圖 */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-1px);
}



.fire_icon_title::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url('images/fire_f.svg'); /* 可以是 PNG 或 SVG */
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 0em;
	transform: translateY(-3px);
}

fire_e
{
	display: inline-block;
	width: 1em;       /* 寬度等於一個字的寬度 */
	height: 1em;      /* 高度等於字體大小 */
	vertical-align: middle; /* 或 text-bottom，看排版需要 */
	background-image: url('images/fire_e.svg'); /* 換成你要的圖 */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-3px);
}
fire_f
{
	display: inline-block;
	line-height:1em;
	width: 1em;       /* 寬度等於一個字的寬度 */
	height: 1em;      /* 高度等於字體大小 */
	vertical-align: middle; /* 或 text-bottom，看排版需要 */
	background-image: url('images/fire_f.svg'); /* 換成你要的圖 */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-3px);
}

.tag
{
	display: inline-block;
	white-space: nowrap;
}


.box
{
	background-color: #C0E090;
	border-radius : 16px;
	margin: 16px 2px;
	padding: 8px 16px;
}

.pinkbox
{
	background-color: #F0A0C0;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.purplebox
{
	background-color: #A090FF;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.bluebox
{
	background-color: #80CFFF;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.tealbox
{
	background-color: #40E0C0;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.greenbox
{
	background-color: #A0FFA0;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.lightgreenbox
{
	background-color: #CFFF90;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.yellowbox
{
	background-color: #FFEF99;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.orangebox
{
	background-color: #F0B040;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

.redbox
{
	background-color: #FF8080;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}


.graybox
{
	background-color: #E0E0E0;
	border-radius : 4px;
	padding: 2px;
	margin: 2px;
}

#header
{
	text-align: center;
}
#footer
{
	text-align: center;
}

.navibox
{
	background-color: #F0F0F0;
	border-radius : 4px;
	padding: 4px;
	margin: 4px;
	display: inline-block;
}


.autofit
{
	display: inline-block;
}


.tab
{
	margin-left: 8px;	
}

.formbox
{
	width:auto;
	display: inline-block;
	background-color: #80EFFF;
	border-radius : 16px;
	padding: 16px;
	margin: 2px;
}
.forminput
{
	max-width:60%;
	min-width: 50px;
	display: inline-block;
}

.stoveimg
{
	max-width:48%;
	min-width: 128px;
	display: inline-block;
}

@media only screen and (max-width: 640px)
{
	div.content
	{
		padding: 8px;
		max-width: 100%;
	}
	img.loading
	{
		padding: 40%;
		margin-bottom: -20%;
	}

	.stoveimg
	{
		max-width: 100%;
		min-width: 128px;
		display: inline-block;
	}
}